Goal: Clean the three datasets scraped from [this website](https://howlongtobeat.com). The script got the playtime information of about 50000 games on different platforms, in addition to information about how many people had included their input for that game.

In [33]:
import json
import pandas as pd
import numpy as np
import re
import math

In [34]:
game_times = pd.read_json('./data/time.json')

View the columns and entries for each datasets

In [35]:
game_times

,name,url,Main Story time,Main Story tag info,Main + Extra time,Main + Extra tag info,Completionist time,Completionist tag info,Solo time,Solo tag info,Co-Op time,Co-Op tag info,Vs. time,Vs. tag info
0,A Plague Tale: Innocence,game?id=65080,10½ Hours,search_list_tidbit center time_100,12½ Hours,search_list_tidbit center time_100,16 Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
1,The Witcher 3: Wild Hunt,game?id=10270,51 Hours,search_list_tidbit center time_100,102 Hours,search_list_tidbit center time_100,172 Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
2,The Legend of Zelda: Skyward Sword HD,game?id=88748,29½ Hours,search_list_tidbit center time_100,35 Hours,search_list_tidbit center time_100,37 Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
3,Tomb Raider,game?id=10469,11½ Hours,search_list_tidbit center time_100,15½ Hours,search_list_tidbit center time_100,20½ Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
4,Hollow Knight,game?id=26286,26 Hours,search_list_tidbit center time_100,39½ Hours,search_list_tidbit center time_100,57½ Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48903,Damnatio Memoriae,game?id=73404,--,search_list_tidbit center time_00,--,search_list_tidbit center time_00,--,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48904,The Wizard Sniffer,game?id=73406,--,search_list_tidbit center time_00,--,search_list_tidbit center time_00,--,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48905,Suveh Nux,game?id=73409,--,search_list_tidbit center time_00,--,search_list_tidbit center time_00,--,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48906,Defenders of Tetsoidea,game?id=73481,4½ Hours,search_list_tidbit center time_40,--,search_list_tidbit center time_00,--,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48907,Iron Armada,game?id=73531,--,search_list_tidbit center time_00,--,search_list_tidbit center time_00,--,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
game_times.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48908 entries, 0 to 48907
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    48908 non-null  object
 1   url                     48908 non-null  object
 2   Main Story time         45865 non-null  object
 3   Main Story tag info     45865 non-null  object
 4   Main + Extra time       45865 non-null  object
 5   Main + Extra tag info   45865 non-null  object
 6   Completionist time      45865 non-null  object
 7   Completionist tag info  45865 non-null  object
 8   Solo time               1959 non-null   object
 9   Solo tag info           1959 non-null   object
 10  Co-Op time              1867 non-null   object
 11  Co-Op tag info          1867 non-null   object
 12  Vs. time                2482 non-null   object
 13  Vs. tag info            2482 non-null   object
dtypes: object(14)
memory usage: 5.2+ MB

On their website, information that isn't available about the completion time of something is shown by the character **--**. For each entry, we can check and replace this character with Nan values.

In [37]:
def replace_with_null(x):
    if type(x) == str:
        nospace_x = x.replace(' ', '').strip()
    else:
        return x
    if nospace_x == '--':
        return np.nan
    else:
        return x

In [38]:
game_times = game_times.applymap(replace_with_null)

In [39]:
game_times

,name,url,Main Story time,Main Story tag info,Main + Extra time,Main + Extra tag info,Completionist time,Completionist tag info,Solo time,Solo tag info,Co-Op time,Co-Op tag info,Vs. time,Vs. tag info
0,A Plague Tale: Innocence,game?id=65080,10½ Hours,search_list_tidbit center time_100,12½ Hours,search_list_tidbit center time_100,16 Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
1,The Witcher 3: Wild Hunt,game?id=10270,51 Hours,search_list_tidbit center time_100,102 Hours,search_list_tidbit center time_100,172 Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
2,The Legend of Zelda: Skyward Sword HD,game?id=88748,29½ Hours,search_list_tidbit center time_100,35 Hours,search_list_tidbit center time_100,37 Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
3,Tomb Raider,game?id=10469,11½ Hours,search_list_tidbit center time_100,15½ Hours,search_list_tidbit center time_100,20½ Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
4,Hollow Knight,game?id=26286,26 Hours,search_list_tidbit center time_100,39½ Hours,search_list_tidbit center time_100,57½ Hours,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48903,Damnatio Memoriae,game?id=73404,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48904,The Wizard Sniffer,game?id=73406,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48905,Suveh Nux,game?id=73409,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48906,Defenders of Tetsoidea,game?id=73481,4½ Hours,search_list_tidbit center time_40,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48907,Iron Armada,game?id=73531,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN

For the columns that represent time, remove Hours from them. If there is a fraction sign remove it, turn str to int and thn add 0.5 to it.

In [40]:
def exrtact_num_from_txt(txt):
    txt = txt.strip()
    num = ''
    for c in txt:
        if c in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']:
            num = num + c
    return int(num)

In [41]:
def time_to_int(x):
    if x is not np.nan:
        num = ''
        has_half = False
        if '½' in x:
            has_half = True
        num = exrtact_num_from_txt(x)
        if has_half:
            num += 0.5
        return num
    else:
        return x

In [42]:
#All columns except name and url
time_cols = []
for c in game_times.columns:
    if 'time' in c:
        time_cols.append(c)

#Change the format of all columns that have data about time to floats
game_times[time_cols] = game_times[time_cols].applymap(time_to_int)

In [43]:
game_times

,name,url,Main Story time,Main Story tag info,Main + Extra time,Main + Extra tag info,Completionist time,Completionist tag info,Solo time,Solo tag info,Co-Op time,Co-Op tag info,Vs. time,Vs. tag info
0,A Plague Tale: Innocence,game?id=65080,10.5,search_list_tidbit center time_100,12.5,search_list_tidbit center time_100,16.0,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
1,The Witcher 3: Wild Hunt,game?id=10270,51.0,search_list_tidbit center time_100,102.0,search_list_tidbit center time_100,172.0,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
2,The Legend of Zelda: Skyward Sword HD,game?id=88748,29.5,search_list_tidbit center time_100,35.0,search_list_tidbit center time_100,37.0,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
3,Tomb Raider,game?id=10469,11.5,search_list_tidbit center time_100,15.5,search_list_tidbit center time_100,20.5,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
4,Hollow Knight,game?id=26286,26.0,search_list_tidbit center time_100,39.5,search_list_tidbit center time_100,57.5,search_list_tidbit center time_100,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48903,Damnatio Memoriae,game?id=73404,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48904,The Wizard Sniffer,game?id=73406,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48905,Suveh Nux,game?id=73409,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48906,Defenders of Tetsoidea,game?id=73481,4.5,search_list_tidbit center time_40,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN
48907,Iron Armada,game?id=73531,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,search_list_tidbit center time_00,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
tag_info_cols = []
for col in game_times.columns:
    if 'tag' in col:
        tag_info_cols.append(col)


#replace with a lambda functions
def temp(entry):
    if entry is not np.nan:
        return exrtact_num_from_txt(entry)
    else:
        return np.nan
    
game_times[tag_info_cols] = game_times[tag_info_cols].applymap(temp)

In [45]:
game_times

,name,url,Main Story time,Main Story tag info,Main + Extra time,Main + Extra tag info,Completionist time,Completionist tag info,Solo time,Solo tag info,Co-Op time,Co-Op tag info,Vs. time,Vs. tag info
0,A Plague Tale: Innocence,game?id=65080,10.5,100.0,12.5,100.0,16.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,The Witcher 3: Wild Hunt,game?id=10270,51.0,100.0,102.0,100.0,172.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
2,The Legend of Zelda: Skyward Sword HD,game?id=88748,29.5,100.0,35.0,100.0,37.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Tomb Raider,game?id=10469,11.5,100.0,15.5,100.0,20.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Hollow Knight,game?id=26286,26.0,100.0,39.5,100.0,57.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48903,Damnatio Memoriae,game?id=73404,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48904,The Wizard Sniffer,game?id=73406,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48905,Suveh Nux,game?id=73409,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48906,Defenders of Tetsoidea,game?id=73481,4.5,40.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48907,Iron Armada,game?id=73531,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

Next step is to remove the Spacing between all names to make it ready.

In [46]:
def clear(string):
    """return: Returns the string, stripped of all letters except alphanum
    If the string doesnt contain alphanum or only conatins numbers, None is returned"""
    string = (re.sub("[^A-Za-z0-9]+", "", string)).lower()
    if (string.isdecimal()) or (len(string) == 0):
        return np.nan
    return string

In [47]:
game_times["name"] = game_times["name"].apply(clear)
game_times

,name,url,Main Story time,Main Story tag info,Main + Extra time,Main + Extra tag info,Completionist time,Completionist tag info,Solo time,Solo tag info,Co-Op time,Co-Op tag info,Vs. time,Vs. tag info
0,aplaguetaleinnocence,game?id=65080,10.5,100.0,12.5,100.0,16.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,thewitcher3wildhunt,game?id=10270,51.0,100.0,102.0,100.0,172.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
2,thelegendofzeldaskywardswordhd,game?id=88748,29.5,100.0,35.0,100.0,37.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
3,tombraider,game?id=10469,11.5,100.0,15.5,100.0,20.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN
4,hollowknight,game?id=26286,26.0,100.0,39.5,100.0,57.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48903,damnatiomemoriae,game?id=73404,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48904,thewizardsniffer,game?id=73406,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48905,suvehnux,game?id=73409,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48906,defendersoftetsoidea,game?id=73481,4.5,40.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48907,ironarmada,game?id=73531,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
game_times.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48908 entries, 0 to 48907
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    48878 non-null  object
 1   url                     48908 non-null  object
 2   Main Story time         24172 non-null  float64
 3   Main Story tag info     45865 non-null  float64
 4   Main + Extra time       16363 non-null  float64
 5   Main + Extra tag info   45865 non-null  float64
 6   Completionist time      18557 non-null  float64
 7   Completionist tag info  45865 non-null  float64
 8   Solo time               1125 non-null   float64
 9   Solo tag info           1959 non-null   float64
 10  Co-Op time              267 non-null    float64
 11  Co-Op tag info          1867 non-null   float64
 12  Vs. time                411 non-null    float64
 13  Vs. tag info            2482 non-null   float64
dtypes: float64(12), object(2)
memory usage: 5.2+ MB

In [49]:
game_times = game_times[game_times['name'].notna()]

In [50]:
to_drop = []
times = [col for col in game_times.columns if "time" in col]
for i, row in game_times.iterrows():
        curr_row_times = 0
        for time_col in times:
            if not math.isnan(row[time_col]):
                curr_row_times =+ 1 
        if curr_row_times == 0:
            to_drop.append(i)

In [51]:
to_drop

[285,
 798,
 823,
 831,
 923,
 948,
 1030,
 1229,
 1258,
 1267,
 1284,
 1529,
 1600,
 1615,
 1657,
 1692,
 1739,
 1745,
 1761,
 1785,
 1805,
 1873,
 1895,
 1898,
 1954,
 1955,
 1959,
 1977,
 1998,
 2021,
 2022,
 2046,
 2071,
 2125,
 2140,
 2168,
 2181,
 2251,
 2258,
 2264,
 2287,
 2295,
 2313,
 2339,
 2408,
 2413,
 2416,
 2484,
 2570,
 2604,
 2632,
 2679,
 2710,
 2728,
 2763,
 2861,
 2868,
 2942,
 2989,
 2993,
 3011,
 3079,
 3088,
 3172,
 3178,
 3187,
 3195,
 3216,
 3229,
 3235,
 3265,
 3266,
 3295,
 3322,
 3331,
 3334,
 3400,
 3462,
 3496,
 3518,
 3547,
 3551,
 3579,
 3601,
 3602,
 3603,
 3610,
 3655,
 3659,
 3660,
 3663,
 3726,
 3760,
 3776,
 3843,
 3845,
 3846,
 3885,
 3998,
 4002,
 4013,
 4045,
 4088,
 4092,
 4099,
 4127,
 4136,
 4173,
 4195,
 4202,
 4206,
 4209,
 4213,
 4216,
 4268,
 4273,
 4277,
 4285,
 4296,
 4303,
 4306,
 4312,
 4354,
 4362,
 4369,
 4371,
 4382,
 4387,
 4395,
 4409,
 4443,
 4451,
 4537,
 4550,
 4569,
 4573,
 4648,
 4651,
 4660,
 4662,
 4663,
 4672,
 4673,
 4684,
 4703,
 4706,
 4708,
 4756,
 4763,
 4765,
 4776,
 4798,
 4843,
 4852,
 4856,
 4857,
 4860,
 4861,
 4909,
 4916,
 4965,
 4974,
 4975,
 4977,
 4980,
 4993,
 4994,
 4996,
 5001,
 5040,
 5062,
 5107,
 5108,
 5109,
 5111,
 5113,
 5114,
 5116,
 5120,
 5123,
 5129,
 5137,
 5165,
 5173,
 5204,
 5239,
 5240,
 5251,
 5256,
 5259,
 5267,
 5269,
 5282,
 5283,
 5298,
 5299,
 5301,
 5308,
 5371,
 5384,
 5387,
 5395,
 5406,
 5412,
 5426,
 5433,
 5437,
 5449,
 5450,
 5451,
 5461,
 5474,
 5510,
 5524,
 5530,
 5531,
 5553,
 5554,
 5562,
 5564,
 5587,
 5609,
 5676,
 5679,
 5683,
 5693,
 5694,
 5695,
 5701,
 5703,
 5704,
 5708,
 5714,
 5720,
 5735,
 5747,
 5748,
 5755,
 5756,
 5757,
 5766,
 5771,
 5834,
 5844,
 5858,
 5868,
 5873,
 5876,
 5885,
 5893,
 5897,
 5898,
 5900,
 5917,
 5951,
 5953,
 5962,
 5981,
 5997,
 6041,
 6046,
 6047,
 6057,
 6066,
 6067,
 6071,
 6078,
 6080,
 6083,
 6085,
 6088,
 6115,
 6122,
 6173,
 6190,
 6202,
 6205,
 6217,
 6234,
 6235,
 6238,
 6272,
 6273,
 6280,
 6287,
 6288,
 6290,
 6300,
 6302,
 6310,
 6311,
 6367,
 6376,
 6424,
 6436,
 6438,
 6459,
 6464,
 6472,
 6473,
 6493,
 6497,
 6506,
 6515,
 6521,
 6545,
 6555,
 6560,
 6636,
 6642,
 6647,
 6650,
 6660,
 6663,
 6679,
 6680,
 6690,
 6692,
 6694,
 6703,
 6727,
 6732,
 6734,
 6736,
 6743,
 6755,
 6758,
 6761,
 6828,
 6855,
 6876,
 6884,
 6885,
 6891,
 6902,
 6904,
 6907,
 6911,
 6917,
 6922,
 6923,
 6924,
 6937,
 6938,
 6941,
 6944,
 6945,
 6948,
 6954,
 6960,
 6971,
 6973,
 6980,
 6984,
 6987,
 6991,
 6993,
 7005,
 7020,
 7021,
 7149,
 7169,
 7171,
 7198,
 7205,
 7224,
 7249,
 7250,
 7251,
 7257,
 7271,
 7280,
 7288,
 7303,
 7309,
 7312,
 7356,
 7409,
 7431,
 7433,
 7436,
 7443,
 7444,
 7451,
 7455,
 7461,
 7476,
 7479,
 7487,
 7491,
 7492,
 7494,
 7495,
 7496,
 7497,
 7498,
 7506,
 7508,
 7519,
 7523,
 7547,
 7553,
 7561,
 7564,
 7569,
 7577,
 7601,
 7629,
 7631,
 7639,
 7640,
 7647,
 7806,
 7808,
 7809,
 7819,
 7836,
 7837,
 7840,
 7841,
 7843,
 7848,
 7850,
 7851,
 7859,
 7866,
 7870,
 7876,
 7896,
 7903,
 7910,
 7922,
 7931,
 7932,
 7933,
 7934,
 7936,
 7939,
 7967,
 7970,
 7974,
 7979,
 7980,
 7982,
 7984,
 7985,
 7986,
 7989,
 7990,
 8006,
 8018,
 8037,
 8043,
 8054,
 8058,
 8061,
 8066,
 8068,
 8071,
 8078,
 8080,
 8081,
 8091,
 8128,
 8228,
 8230,
 8233,
 8241,
 8264,
 8270,
 8272,
 8277,
 8279,
 8286,
 8290,
 8301,
 8307,
 8312,
 8320,
 8330,
 8331,
 8340,
 8352,
 8353,
 8360,
 8376,
 8388,
 8391,
 8394,
 8397,
 8399,
 8415,
 8427,
 8429,
 8435,
 8444,
 8451,
 8458,
 8459,
 8471,
 8483,
 8507,
 8528,
 8547,
 8569,
 8582,
 8653,
 8656,
 8657,
 8658,
 8662,
 8665,
 8672,
 8685,
 8691,
 8699,
 8703,
 8707,
 8716,
 8717,
 8719,
 8720,
 8722,
 8723,
 8724,
 8725,
 8742,
 8743,
 8746,
 8747,
 8757,
 8776,
 8777,
 8798,
 8799,
 8809,
 8815,
 8821,
 8827,
 8837,
 8843,
 8846,
 8848,
 8850,
 8864,
 8866,
 8875,
 8878,
 8884,
 8885,
 8886,
 8890,
 8893,
 8895,
 8898,
 8919,
 8924,
 8927,
 8930,
 8933,
 9102,
 9106,
 9113,
 9121,
 9125,
 9131,
 9132,
 9133,
 9138,
 9139,
 9146,
 9147,
 9154,
 9172,
 9179,
 9221,
 9223,
 9232,
 9237,
 9243,
 9254,
 9266,
 9267,
 9268,
 9272,
 9277,
 9283,
 9284,
 9286,
 9287,
 9288,
 9289,
 9290,
 9291,
 9294,
 9299,
 9300,
 9301,
 9302,
 9303,
 9304,
 9305,
 9306,
 9307,
 9313,
 9330,
 9331,
 9334,
 9335,
 9347,
 9351,
 9363,
 9374,
 9377,
 9380,
 9382,
 9387,
 9399,
 9404,
 9407,
 9410,
 9412,
 9414,
 9416,
 9420,
 9422,
 9424,
 9428,
 9434,
 9437,
 9442,
 9447,
 9450,
 9453,
 9462,
 9466,
 9476,
 9477,
 9479,
 9485,
 9489,
 9493,
 9496,
 9498,
 9501,
 9502,
 9547,
 9550,
 9645,
 9667,
 9712,
 9714,
 9721,
 9724,
 9739,
 9744,
 9754,
 9761,
 9762,
 9763,
 9767,
 9772,
 9795,
 9798,
 9817,
 9821,
 9822,
 9828,
 9829,
 9836,
 9851,
 9858,
 9859,
 9861,
 9875,
 9876,
 9879,
 9880,
 9893,
 9895,
 9898,
 9901,
 9902,
 9925,
 9934,
 9943,
 9944,
 9949,
 9950,
 9954,
 9955,
 9958,
 9960,
 9961,
 9962,
 9972,
 9973,
 9998,
 10002,
 10003,
 10006,
 10007,
 10013,
 10025,
 10034,
 10042,
 10049,
 10060,
 10062,
 10068,
 10069,
 10120,
 10147,
 10151,
 10196,
 10208,
 10221,
 10227,
 10248,
 10249,
 10271,
 10319,
 10327,
 10331,
 10332,
 10335,
 10338,
 10341,
 10342,
 10343,
 10344,
 10345,
 10346,
 10352,
 10354,
 10358,
 10363,
 10366,
 10367,
 10368,
 10369,
 10370,
 10372,
 10374,
 10375,
 10376,
 10381,
 10382,
 10383,
 10384,
 10385,
 10388,
 10390,
 10394,
 10399,
 10405,
 10408,
 10414,
 10426,
 10429,
 10438,
 10442,
 10444,
 10446,
 10448,
 10449,
 10450,
 10451,
 10454,
 10455,
 10456,
 10457,
 10461,
 10467,
 10469,
 10473,
 10477,
 10478,
 10479,
 10480,
 10481,
 10484,
 10487,
 10492,
 10493,
 10495,
 10507,
 10510,
 10514,
 10520,
 10523,
 10541,
 10545,
 10552,
 10559,
 10589,
 10592,
 10595,
 10596,
 10610,
 10611,
 10630,
 10634,
 10638,
 10641,
 10646,
 10656,
 10660,
 10677,
 10678,
 10688,
 10696,
 10707,
 10730,
 10733,
 10741,
 10743,
 10746,
 10747,
 10759,
 10765,
 10769,
 10775,
 10777,
 10779,
 10785,
 10786,
 10788,
 10789,
 10799,
 10801,
 10804,
 10807,
 10817,
 10822,
 10870,
 10889,
 10926,
 10928,
 11001,
 11033,
 11036,
 11041,
 11071,
 11094,
 11097,
 11098,
 11108,
 11110,
 11113,
 11115,
 11120,
 11134,
 11136,
 11137,
 11161,
 11166,
 11167,
 11170,
 11175,
 11177,
 11181,
 11184,
 11187,
 11195,
 11198,
 11199,
 11201,
 11203,
 11206,
 11210,
 11211,
 11218,
 11223,
 11233,
 11235,
 11254,
 11258,
 11260,
 11261,
 11264,
 11267,
 11279,
 11281,
 11288,
 11289,
 11291,
 11292,
 11293,
 11294,
 11297,
 11298,
 11299,
 11300,
 11301,
 11303,
 11304,
 11305,
 11308,
 11309,
 11310,
 11316,
 11317,
 11318,
 11319,
 11329,
 11333,
 11336,
 11341,
 11342,
 11345,
 11346,
 11349,
 11353,
 11354,
 11356,
 11358,
 11362,
 11367,
 11372,
 11375,
 11377,
 11381,
 11384,
 11390,
 11395,
 11398,
 11400,
 11402,
 11407,
 11417,
 11423,
 11425,
 11426,
 11433,
 11448,
 11449,
 11452,
 11453,
 11454,
 11456,
 11457,
 11458,
 11460,
 11461,
 11462,
 11463,
 11464,
 11466,
 11469,
 11470,
 11472,
 11474,
 11476,
 11477,
 11478,
 11479,
 11480,
 11481,
 11482,
 11483,
 11484,
 11485,
 11486,
 11488,
 11489,
 11493,
 11496,
 11497,
 11503,
 11505,
 11510,
 11511,
 11513,
 11514,
 11518,
 11522,
 11528,
 11531,
 11533,
 11534,
 11535,
 11538,
 11539,
 11540,
 11541,
 11543,
 11544,
 11545,
 11547,
 11548,
 11552,
 11555,
 11557,
 11558,
 11559,
 11560,
 11561,
 11565,
 11566,
 ...]

In [55]:
game_timescc = game_times.drop(labels=to_drop, axis=0)

In [56]:
game_timescc

,name,url,Main Story time,Main Story tag info,Main + Extra time,Main + Extra tag info,Completionist time,Completionist tag info,Solo time,Solo tag info,Co-Op time,Co-Op tag info,Vs. time,Vs. tag info
0,aplaguetaleinnocence,game?id=65080,10.5,100.0,12.5,100.0,16.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,thewitcher3wildhunt,game?id=10270,51.0,100.0,102.0,100.0,172.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
2,thelegendofzeldaskywardswordhd,game?id=88748,29.5,100.0,35.0,100.0,37.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
3,tombraider,game?id=10469,11.5,100.0,15.5,100.0,20.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN
4,hollowknight,game?id=26286,26.0,100.0,39.5,100.0,57.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48891,coloringpixelsisometric,game?id=73320,NaN,0.0,NaN,0.0,30.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN
48892,santagirls,game?id=73328,3.5,40.0,NaN,0.0,8.5,40.0,NaN,NaN,NaN,NaN,NaN,NaN
48898,thehurricaneofthevarstraythreatofthirdforce,game?id=73382,15.0,40.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48900,unsolvedmysteryclubancientastronauts,game?id=73387,NaN,0.0,NaN,0.0,3.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN
48906,defendersoftetsoidea,game?id=73481,4.5,40.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
game_timescc.to_csv('timeclean.csv')